* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(169, 208, 237);
  border: 1px;
  margin: 100px;
  padding: 20px;
  border-radius: 10px;
}
input {
  width: 70px;
  height: 70px;
  margin: 5px;
  color: white;
  background-color: transparent;
  border: transparent;
  box-shadow: 2px 1px 2px 1px gray;
  cursor: pointer;
  font-size: 30px;
  font-family: Georgia
}
#screen {
  box-shadow: none;
  padding: 20px;
  font-size: 50px;
  width: 300px;
  text-align: right;
  cursor: none;
  border: none;
}

#clear,
#calcule {
  width: 145px;
}
#clear {
  background-color: gray;
}
#calcule {
  background-color: chocolate;
}
